@import "/src/main.scss";

$start-color: #2d2d2d;
$end-color: #1b1919;
@mixin radial-gradient-dark($start-color, $end-color) {
  background: $start-color;
  background: radial-gradient(circle, $start-color, $end-color);
}

#SignUp {
  @include flex(center, center, column);
  @include background-image("https://i.imgur.com/xZvK1SL.jpg");
  padding: 1rem;

  #SignUpHeader {
    h1 {
      font-size: 3rem;
      color: #000000;
    }
  }

  #ExistingUserSignIn {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    @include radial-gradient-dark($start-color, $end-color);
    margin-top: 1rem;
    box-shadow: 0 0 10px rgb(34, 32, 26);
  }
  #NewUser {
    margin-top: 1rem;
    border: 1px solid black;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px rgb(212, 166, 12);
    @include radial-gradient-dark($start-color, $end-color);
  }
  form {
    margin: auto;
    width: 60%;
    @include flex(center, center, column);
    input {
      color: black;
    }
  }

  .error {
    font-size: 12px;
    color: red;
  }
}
