@import '../../../styleSheets/_variables.scss';
@import '../../../styleSheets/_mixins.scss';
@import './Home.scss';

// !---Home_HeroFour.jsx------------------------------------------------------------------
#heroFour {
  @include flex(center, center, row);
  @include radial-gradient-dark($start-color, $end-color);
  height: 100vh;
  width: 100%;

  #heroFour-left {
    @include flex(center, center, column);
    width: 50%;
    height: 100%;
    padding: 1rem;

    h1 {
      font-family: $font-title;
      font-size: 8rem;
      color: lightBlue;
      text-align: center;
      margin: 1rem;
    }

    p {
      font-size: 1.5rem;
      color: #ffffff;
      text-align: center;
      margin: 1rem;
    }
  }

  #heroFour-right {
    @include flex(center, center, column);
    padding: 1rem;

    #wizard {
      border: 1px solid #ffffff;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      padding: 1rem;
      margin: 1rem;
    }
  }
}
