@import '../../../styleSheets/_variables.scss';
@import '../../../styleSheets/_mixins.scss';
@import './Home.scss';

#background {
  @include background-image('https://i.imgur.com/7iZ4mCD.jpg');
  height: 100vh;

  #home-header {
    @include flex(flex-end, center, row);
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: $padding-4;
    height: 10vh;
    box-shadow: 0 0 5px rgba($color: #ffffff, $alpha: 0.7);

    h1 {
      font-family: $font-title;
      font-size: 4rem;
      margin-right: 2rem;
    }

    button {
      margin: 0.75rem;
      padding: 0.75rem;
      border-radius: $border-radius-4;
      border: none;
      cursor: pointer;
      box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
      background-color: #ffffff;
    }
  }
}
