@import '../../../styleSheets/_variables.scss';
@import '../../../styleSheets/_mixins.scss';
@import './Home.scss';

// !---Home_HeroFive.jsx------------------------------------------------------------------
#heroFive {
  @include flex(center, center, row);
  @include radial-gradient-dark($start-color, $end-color);
  height: 100vh;
  width: 100%;

  #monster-container {
    @include flex(center, center, row);
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 1rem;

    .card-big {
      width: 200px;
      height: 250px;
      padding: 1rem;
      margin: 2rem;
      border: 1px solid #ffffff;
      border-radius: 10%;
      box-shadow: 0 0 10px #ffffff;
    }
  }
}
