@import '../../../styleSheets/_variables.scss';
@import '../../../styleSheets/_mixins.scss';
@import './Home.scss';

#heroSix {
  @include flex(center, center, column);
  @include background-image('https://i.imgur.com/zwBmd1T.jpg');
  height: 100vh;

  h1 {
    font-family: $font-title;
    font-size: 8rem;
    color: black;
    text-align: center;
    margin-top: 6rem;
  }
}
