@import '../../../styleSheets/_variables.scss';
@import '../../../styleSheets/_mixins.scss';
@import './Home.scss';

// !---Home_HeroThree.jsx------------------------------------------------------------------
#heroThree {
  @include flex(flex-start, center, column);
  @include background-image('https://i.imgur.com/XANxTtf.jpg');
  height: 100vh;
  scroll-snap-align: center;

  h1 {
    background-color: rgba($color: #000000, $alpha: 0.8);
    box-shadow: 0 5px 15px rgba($color: #f53302, $alpha: 0.7);
    color: red;
    border-radius: $border-radius-4;
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-family: $font-title;
    font-size: 5rem;
  }

  #playingCards {
    @include flex(center, center, row);
    text-align: center;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;

    .card-big {
      @include flex(center, center, column);
      background-color: rgba($color: #000000, $alpha: 0.6);
      box-shadow: 0 5px 15px rgba($color: #f53302, $alpha: 0.7);
      border-radius: $border-radius-4;
      margin: 2rem;
      width: 175px;
      height: 220px;

      h2 {
        background-color: rgba($color: #000, $alpha: 0.25);
        box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.3);
        color: lightblue;
        border-radius: 10%;
        width: 200px;
        font-family: $font-title;
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      img {
        background-color: rgba($color: #000000, $alpha: 0.6);
        box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
        border-radius: $border-radius-4;
        width: 80%;
        height: auto;
        margin-bottom: 2rem;
      }
    }
  }
}
