@import '../../../styleSheets/mixins.scss';
@import '../../../styleSheets/variables.scss';

$primaryColor: #007bff;
$secondaryColor: #6c757d;
$borderColor: #fff;
$backgroundColor: rgba(0, 0, 0, 0.8);

$start-color: #2d2d2d;
$end-color: #000000;
$start-color-gold: #dab654;
$end-color-gold: #f7a01d;
@mixin radial-gradient-dark($start-color, $end-color) {
  background: $start-color;
  background: radial-gradient(circle, $start-color, $end-color);
}
@mixin radial-gradient-gold($start-color-gold, $end-color-gold) {
  background: $start-color;
  background: radial-gradient(circle, $start-color-gold, $end-color-gold);
}
// Mixins for flexbox (flex, flex-direction, justify-content, align-items, etc.)
@mixin flex($direction: row, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// mixin for grid (grid-template-columns, grid-template-rows, etc.)
@mixin grid($columns: 1, $rows: 1, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  grid-gap: $gap;
}

@mixin positionAndTop() {
  position: absolute;
  top: 4%;
}

@mixin borderAndBoxShadowBlue() {
  border: 3px solid lightblue;
  box-shadow: 0 0 10px 5px lightblue;
  border-radius: 45px;
}

@mixin borderAndBoxShadowGold() {
  border: rgb(231, 175, 24) 3px solid;
  box-shadow: 0 0 10px 5px rgba(231, 175, 24, 0.5);
  border-radius: 5%;
}

@mixin img-circular($width: 50px) {
  img {
    @include borderAndBoxShadowGold();
    width: $width;
    border-radius: 50%;
  }
}

@mixin img-medium-circular() {
  img {
    @include borderAndBoxShadowBlue();
    width: 150px;
    border-radius: 50%;
    margin: 1rem;
    padding: 0.25rem;
  }
}

@mixin stat-coloring() {
  .atk {
    color: rgb(147, 8, 8);
  }
  .def {
    color: rgb(0, 0, 187);
  }
  .hp {
    color: rgb(21, 161, 21);
  }
}

#GameComponent {
  position: relative;
  @include flex(column, center, center);
  @include radial-gradient-dark($start-color, $end-color);
  background-image: url('https://i.imgur.com/c1zyLkR.jpg');
  //background-color: rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  color: whitesmoke;
  height: 100%;
  #darken {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
  //!--STATS--Component-----------------------------------
  #Stats {
    text-align: center;

    h2 {
      text-align: center;
      font-size: 1.5rem;
    }
    p {
      font-size: 1.2rem;
    }
    .selected-icons {
      @include flex(row, center, center);
      @include img-circular();
    }
    .selected-stats {
      @include flex(column, center, center);
      @include stat-coloring();
    }
    #PlayerStatusBar {
      @include positionAndTop();
      @include borderAndBoxShadowBlue();
      left: 25%;
    }
    #EnemyStatusBar {
      @include positionAndTop();
      @include borderAndBoxShadowBlue();
      right: 25%;
    }
    #SelectedHeroStats {
      width: 200px;
      @include positionAndTop();
      @include borderAndBoxShadowBlue();
      left: 2%;
      background-color: brown;
    }
    #SelectedMonsterStats {
      width: 200px;
      @include positionAndTop();
      @include borderAndBoxShadowBlue();
      right: 2%;
    }
  }
}
//!--BATLLEFIELD--Component-----------------------------------
#Battlefield {
  @include flex(row, space-around, center);
  @include borderAndBoxShadowBlue();
  width: 100%;
  #ClickableHeros,
  #BattleHero,
  #BattleMonster,
  #ClickableMonsters {
    @include img-medium-circular();
  }

  #VictoryMessageLootBox {
    margin: 5rem;
  }
}

//!--PLAYERCONTROLLS--Component-----------------------------------
#PlayerControlls {
  @include flex(column, center, center);
  .border {
    @include borderAndBoxShadowGold();
    //width: 100%;
    height: 150px;

    background-color: rgba(9, 9, 8, 0.404);
    margin-top: -100px;
  }
  #PlayingCards {
    @include flex(row, center, center);
    img {
      width: 100px;
      border-radius: 15px;
    }
    .PlayingCard {
      @include borderAndBoxShadowGold();
      margin: 1rem;
      font-size: 1rem;
      width: 150px;
      background-color: rgba(140, 68, 1, 0.8);
      height: 275px;
    }
  }
  #clickable-controls {
    @include flex(row, center, center);
  }
  #HeroSpecialAttackButtons {
    @include flex(row, flex-start, center);
    @include img-circular(75px);
    height: 100px;
    #ManaTracker {
      @include flex(row, center, center);
      @include borderAndBoxShadowGold();
      @include img-medium-circular();
      @include radial-gradient-gold($start-color-gold, $end-color-gold);
      color: #535151;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin-top: -50px;
    }
    .hero-button {
      margin: 1rem 0.5rem 0 0.5rem;
    }
  }
  #GeneralButtons {
    @include flex(row, center, center);

    button {
      //@include borderAndBoxShadowGold();
      color: #535151;
      border-radius: 7.5%;
      padding: 0.5rem;
      font-weight: 600;
      background-color: $end-color-gold;
      margin: 0 0.5rem 0 0.5rem;
      font-size: 1rem;
      cursor: pointer;
      #surrender {
        text-decoration: none;
        //link color
        color: #535151;
      }
    }
  }
}

// TODO where to go?
#monster-attack-animation {
  font-size: 2rem;
  color: rgb(136, 13, 13);
}
