#deck-grid {
  height: 100vh;

  overflow-y: scroll;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $padding-4;

  img {
    width: 250px;
    height: auto;
  }
  .display-card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 5px;
    padding: $padding-4;
    background-color: rgba($color: #000000, $alpha: 0.75);
    color: white;
    height: 90%;
    .card-name {
      text-align: center;
    }
    .card-image {
      border-radius: $border-radius-2;
    }
    .magic-icon {
      color: white;
    }
  }
}
