@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");
$font-title: "Lovers Quarrel", cursive;

// !---MIXINS_&_VARIABLES--------------------------------------------------------------
@mixin background-image($image) {
  background-image: url($image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
$start-color: #2d2d2d;
$end-color: #000000;
@mixin radial-gradient-dark($start-color, $end-color) {
  background: $start-color;
  background: radial-gradient(circle, $start-color, $end-color);
}

body {
  color: whitesmoke;
  font-size: $font-size-3;
}

// !---Home_Header.jsx------------------------------------------------------------------
#background {
  @include background-image("src/assets/images/castles/iceTower.jpg");
  height: 100vh;

  #home-header {
    @include flex(flex-end, center, row);
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: $padding-4;
    height: 10vh;
    box-shadow: 0 0 5px rgba($color: #ffffff, $alpha: 0.7);

    h1 {
      font-family: $font-title;
      font-size: 4rem;
      margin-right: 2rem;
    }

    button {
      margin: 0.75rem;
      padding: 0.75rem;
      border-radius: $border-radius-4;
      border: none;
      cursor: pointer;
      box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
      background-color: #ffffff;
    }
  }

  // !---Home_HeroOne.jsx---------------------------------------------------------------
  #heroOne {
    @include flex(center, center, column);
    height: 85vh;

    #heroOne-wrapper {
      width: 50%;
      text-align: center;
      background-color: rgba($color: #000000, $alpha: 0.75);
      box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
      border-radius: $border-radius-4;
      padding: $padding-6;

      h2 {
        font-family: "Lovers Quarrel", cursive;
        color: lightblue;
        font-size: 5rem;
        margin-bottom: 1rem;
      }

      p {
        margin-bottom: 2rem;
      }

      button {
        background-color: $custom-color-3;
        color: rgb(1, 0, 0);
        border: none;
        padding: 1rem 2rem;
        border-radius: $border-radius-4;
        cursor: pointer;
        box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
      }
    }
  }
}

// !---Home_HeroTwo.jsx---------------------------------------------------------------
#heroTwo {
  @include flex(center, center, row);
  @include radial-gradient-dark($start-color, $end-color);
  height: 100vh;

  #heroTwo-left,
  #heroTwo-right {
    @include flex(center, center, column);
    width: 100%;
    height: 70%;
    padding: 6rem;

    img {
      background-color: rgba($color: #000000, $alpha: 0.6);
      box-shadow: 0 0 10px rgba($color: #b17e06, $alpha: 0.7);
      border-radius: $border-radius-4;
      padding: 2px;
      margin-top: 2rem;
      width: 80%;
      height: auto;
    }

    h2 {
      font-family: $font-title;
      color: #b17e06;
      font-size: 5rem;
      margin-bottom: 2rem;
    }

    h1 {
      font-family: $font-title;
      color: #b17e06;
      font-size: 6rem;
      margin-bottom: 2rem;
    }

    p {
      line-height: 1.5;
    }
  }
}

// !---Home_HeroThree.jsx------------------------------------------------------------------
#heroThree {
  @include flex(flex-start, center, column);
  @include background-image("src/assets/images/landscapes/background-10.jpg");
  height: 100vh;

  h1 {
    background-color: rgba($color: #000000, $alpha: 0.7);
    box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
    border-radius: $border-radius-4;
    padding: 1rem 2rem;
    font-family: $font-title;
    font-size: 5rem;
  }

  #playingCards {
    @include flex(center, center, row);
    text-align: center;
    height: 100%;
    flex-wrap: wrap;
    .card-big {
      @include flex(center, center, column);
      background-color: rgba($color: #000000, $alpha: 0.6);
      box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
      border-radius: $border-radius-4;
      margin: 2rem;
      width: 150px;
      height: 200px;

      h2 {
        font-family: $font-title;
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      img {
        background-color: rgba($color: #000000, $alpha: 0.6);
        box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
        border-radius: $border-radius-4;
        width: 80%;
        height: auto;
        margin-bottom: 2rem;
      }
    }
  }
}

// !---Home_HeroFour.jsx------------------------------------------------------------------
#heroFour {
  @include flex(center, center, row);
  @include background-image("src/assets/images/landscapes/background-11.jpg");
  height: 100vh;

  #heroFour-left {
    @include flex(center, center, column);

    width: 60%;
    height: 100%;
    margin: 2rem;

    .text-card {
      @include flex(center, center, column);
      background-color: rgba($color: #000000, $alpha: 0.6);
      box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
      border-radius: $border-radius-4;

      padding: 6rem;
    }

    h2 {
      font-family: $font-title;
      font-size: 5rem;
      margin-bottom: 2rem;
    }

    p {
      line-height: 1.5;
    }
  }

  #heroFour-right {
    @include flex(center, center, column);

    width: 40%;
    height: 60%;
    padding: 6rem;
    img {
      background-color: rgba($color: #000000, $alpha: 0.6);
      box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
      border-radius: $border-radius-4;
      margin-top: 2rem;
      width: 80%;
      height: auto;
    }
  }
}
