@import url("https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap");
$font-title: "Lovers Quarrel", cursive;

// ? backgorund image mixin
@mixin background-image($image) {
  background-image: url($image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

// ? flex mixin
@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

// ? Gradient mixin
$start-color: #2d2d2d;
$end-color: #000000;
@mixin radial-gradient-dark($start-color, $end-color) {
  background: $start-color;
  background: radial-gradient(circle, $start-color, $end-color);
}

// ! FIRST 100VH SECTION ------------------------------------------------------------------
#background {
  @include background-image("src/assets/images/castles/iceTower.jpg");
  height: 100vh;

  // ! HEADER component
  #home-header {
    @include flex(flex-end, center, row);
    background-color: rgba($color: #000000, $alpha: 0.5);
    padding: $padding-4;
    height: 10vh;
    button {
      margin: 0.75rem;
      padding: 0.75rem;
      border-radius: 1rem;
      font-size: 1rem;
      color: #fff;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #0062cc;
      }
    }

    #signUp-btn {
      background-color: #28a745;

      &:hover {
        background-color: #218838;
      }
    }

    #login-btn {
      background-color: #dc3545;

      &:hover {
        background-color: #c82333;
      }
    }
  }

  // ! HERO component
  .hero {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    #hero-content-wrapper {
      max-width: 800px;
      text-align: center;
      background-color: rgba($color: #000000, $alpha: 0.6);
      box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
      border-radius: $border-radius-4;
      padding: 2rem;
      transition: transform 0.5s ease-in-out;

      h2 {
        font-family: "Lovers Quarrel", cursive;
        font-size: 5rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
      button {
        background-color: $custom-color-3;
        color: rgb(1, 0, 0);
        border: none;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: $border-radius-4;
        cursor: pointer;
        box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
        transition: 0.5s ease-in-out;
        &:hover {
          transform: translateY(-10px) scale(1.1);
          background-color: pink;
        }
      }
    }
  }
}

// ! SECOND 100VH SECTION ------------------------------------------------------------------
#hero-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background: radial-gradient(
    ellipse at center,
    #1c1c1c 0%,
    #000000 100%
  ); // Radial gradient background

  #divider-left,
  #divider-right {
    width: 50%;
    height: 100%;
    padding: 6rem;

    h2 {
      font-family: $font-title;
      font-size: 5rem;
      color: #fff;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.5rem;
      color: #fff;
      line-height: 1.5;
    }
  }

  #divider-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      background-color: rgba($color: #000000, $alpha: 0.6);
      box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
      border-radius: $border-radius-4;
      margin-top: 2rem;
      width: 80%;
      height: auto;
    }
  }

  #divider-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

// ! THIRD 100VH SECTION ------------------------------------------------------------------
#playingCardsHero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("/src/assets/images/landscapes/background-11.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  #playingCards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    .card-big {
      background-color: rgba($color: #000000, $alpha: 0.6);
      box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
      border-radius: $border-radius-4;
      width: 200px;
      height: auto;
      margin: 2rem;

      h2 {
        font-family: $font-title;
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      img {
        background-color: rgba($color: #000000, $alpha: 0.6);
        box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
        border-radius: $border-radius-4;
        width: 80%;
        height: auto;
        margin-bottom: 2rem;
      }
    }
  }
}
