* {
  margin: 0;
  padding: 0;
  font-size: $font-size-5;
}

nav {
  background-color: rgba($color: #000000, $alpha: 0.75);
  color: #fff;
  text-decoration: none;
  padding: $padding-2;
  ul {
    @include flex(row, space-between, center);
    color: $color-secondary;
    list-style: none;
    li {
      border: #fff solid 1px;
      border-radius: $border-radius-4;
      padding: $padding-2;

      a {
        color: $color-secondary;
        text-decoration: none;
        &:hover {
          color: $color-primary;
        }
      }
    }
  }
}
