#overview-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: rgba($color: #000000, $alpha: 1);
  width: 100%;
  padding: 1rem;
}
.overview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 150px);
  overflow-y: scroll;
  color: #ffffff;
  background-color: rgba($color: #000000, $alpha: 0.5);
  h1 {
    font-size: 2rem;
  }
}
.hero-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 200px;
  height: 300px;
  margin: 10px;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  transition: transform 0.2s ease-in-out;
}
.hero-card:hover {
  transform: translateY(-10px);
}
.hero-card img {
  width: 175px;
  height: 175px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.hero-card .hero-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  text-align: center;
}
.hero-card .hero-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.hero-card .hero-info p {
  font-size: 1.2rem;
  margin-bottom: 0;
}
.achievements-container {
  margin-top: 20px;
  font-size: 20px;
}
.start-game-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-game-container select {
  margin-right: 10px;
  font-size: 16px;
  padding: 5px;
}
.start-game-container button {
  font-size: 16px;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.start-game-container button:hover {
  background-color: #0056b3;
}
#storyBoard {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 25%;
  height: 45vh;
  bottom: 0%;
  margin: auto;
}
#story-board-card {
  background-image: url("https://i.imgur.com/ShaZNgM.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 200%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 1rem;

  span {
    padding: 1rem;
  }
  #player-box {
    display: flex;
    flex-direction: row;
    #player-box-text {
      padding: 1rem;
    }
  }
  #npc-box {
    display: flex;
    flex-direction: reverse-row;
    #npc-box-text {
      padding: 1rem;
    }
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
  }
}
#storyboard-navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  button {
    margin: 1rem;
    padding: 0.5rem;
  }
}
.storyboard-start-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.storyboard-exit-button {
  margin: 1rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
