@import './../Home/Home.scss';

* {
  box-sizing: border-box;
  // border: 1px solid red;
}
#Dashboard {
  @include radial-gradient-dark($start-color, $end-color);
  @include flex(center, center, column);
  width: 100%;
  #top {
    @include flex(center, center, row);
    width: 100%;
    padding: 1rem;
    .top-left {
      @include flex(center, center, column);
      width: 70%;

      border: 3px solid lightblue;
      border-radius: 15px;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
      #OverviewHeader {
        @include flex(flex-start, flex-start, column);
        padding: 1rem;
        width: 100%;

        h1 {
          font-size: 2rem;
          color: lightblue;
          padding: 1rem;
        }
      }
      #OverviewParty {
        @include flex(center, center, row);

        background-color: rgba(113, 203, 236, 0.25);
        width: 100%;

        img {
          height: 200px;
          width: 200px;
          margin: 1rem;
          border: 5px solid lightblue;
          box-shadow: 0 0 10px 5px rgba(57, 162, 231, 0.5);
          border-radius: 50%;
        }

        button {
          height: 50px;
          width: 150px;
          margin: 1rem;
          border: 5px solid lightblue;
          box-shadow: 0 0 10px 5px rgba(57, 162, 231, 0.5);
          border-radius: 5%;
        }
      }
    }
    .top-right {
      width: 30%;
      #OverViewMap {
        color: aqua;

        width: 100%;
      }
    }
  }
  #bottom {
    width: 100%;

    #OverViewNavBar {
      @include flex(flex-start, center, row);
      width: 100%;
      button {
        border: 3px solid lightblue;
        border-radius: 15px;
        box-shadow: 0 0 10px 5px rgba(123, 249, 245, 0.5);
        height: 50px;
        width: 175px;
        margin: 1rem;
        padding: 0.25rem;
      }
    }
    #OverViewHub {
      padding: 1rem;
      #OverViewDisplay {
        width: 100%;
        border-radius: 25px;
        border: 2px solid rgb(123, 249, 245);
        box-shadow: 0 0 10px 5px rgba(123, 249, 245, 0.5);
        padding: 1.5rem;
      }
    }
    #available-heros {
      width: 100%;
      height: 50vh;
      overflow-y: scroll;

      #hero-list {
        padding: 1rem;
        color: #ffffff;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2rem;
        justify-items: center;
        align-items: center;
        //overflow-y: scroll;

        .hero-card {
          text-align: center;
          color: #ffffff;
          border: 2px solid rgb(255, 187, 0);
          box-shadow: 0 0 10px 5px rgba(255, 187, 0, 0.5);
          border-radius: 25px;
          width: 250px;
          height: 425px;

          h1 {
            text-align: center;
            font-size: 2rem;
          }

          .hero-image {
            text-align: center;
            img {
              max-width: 175px;
              height: auto;
              border-radius: 50%;
              box-shadow: 0 0 10px rgba(9, 140, 228, 0.63);
            }
          }
        }
      }
    }

    .stats-container {
      @include flex(space-around, center, row);
      width: 100%;
      border-top: 2px solid rgb(255, 187, 0);

      .stats-hp {
        color: green;
      }

      .hero-name {
        align-self: center;
      }
    }
  }
}
