// Mixins for flexbox (flex, flex-direction, justify-content, align-items, etc.)
@mixin flex($direction: row, $justify: flex-start, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// mixin for grid (grid-template-columns, grid-template-rows, etc.)
@mixin grid($columns: 1, $rows: 1, $gap: 0) {
  display: grid;
  grid-template-columns: repeat($columns, 1fr);
  grid-template-rows: repeat($rows, 1fr);
  grid-gap: $gap;
}
