// Import all of Bootstrap's CSS

@import 'variables';
@import 'mixins';
// @import './components/navBar';
// @import './components/Home';
// @import './components/Overview';
// @import './components/PartyBuilder';
// @import './components/DeckBuilder';
// @import './components/GameComponent';
//@import "./components/StoryBoard";

body {
  background-image: url('https://i.imgur.com/7iZ4mCD.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.snow {
  position: absolute;
  top: -10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 5px #fff;
  animation: snow-fall 10s linear infinite;
  animation-delay: calc(-10s * var(--i));
}

@keyframes snow-fall {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(100vh);
  }
}
