// import variables.scss
@import "variables";
@import "mixins";
@import "./components/navBar";

body {
  background-image: url("/src/assets/images/heros/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

#homeScreen {
  .hero {
    background-image: url("path/to/hero-image.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    #hero-content-wrapper {
      max-width: 800px;
      text-align: center;
      background-color: rgba($color: #000000, $alpha: 0.3);
      border-radius: $border-radius-4;
      padding: 2rem;
      h2 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
      button {
        background-color: pink;
        color: rgb(1, 0, 0);
        border: none;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        border-radius: $border-radius-4;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: #cc5500;
        }
      }
    }
  }
  .features {
    display: flex;
    justify-content: space-between;
    margin: 4rem 0;
    .feature {
      flex-basis: calc(50% - 1rem);
      background-color: white;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
      padding: 2rem;
      h3 {
        font-size: 2rem;
        margin-bottom: 1rem;
      }
      p {
        font-size: 1.2rem;
        margin-bottom: 2rem;
      }
      button {
        background-color: #ff6600;
        color: white;
        border: none;
        padding: 1rem 2rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        &:hover {
          background-color: #cc5500;
        }
      }
    }
  }
  .about {
    background-color: #f2f2f2;
    padding: 4rem;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }
}
