// Import all of Bootstrap's CSS

@import "variables";
@import "mixins";
@import "./components/navBar";
@import "./components/Home";
@import "./components/Overview";
@import "./components/PartyBuilder";
@import "./components/DeckBuilder";
@import "./components/GameComponent";

body {
  background-image: url("/src/assets/images/heros/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
