@import '/src/styleSheets/variables';
@import '/src/styleSheets/mixins';

#OverviewCurrentParty {
  @include flex(row, center, center);

  .hero-container {
    border: 5px solid black;
    @include flex(column, space-around, center);
    border-radius: 5px;
    .hero-name {
      text-align: center;
    }
    .hero-image {
      img{
        margin: 0  auto;
        width: 45%;
        height: 45%;
        border-radius: 5px;
      }
    }
    .stats-container {
      @include flex(row, space-between, center);
      
    }
     
  } 

}