@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');
$font-title: 'Lovers Quarrel', cursive;

// !---MIXINS_&_VARIABLES--------------------------------------------------------------
@mixin background-image($image) {
  background-image: url($image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin background-settings() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin flex($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}
$start-color: #2d2d2d;
$end-color: #000000;
@mixin radial-gradient-dark($start-color, $end-color) {
  background: $start-color;
  background: radial-gradient(circle, $start-color, $end-color);
}

#StoryBoard {
  @include flex(center, center, column);
  @include radial-gradient-dark($start-color, $end-color);
  @include background-settings();
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  #StoryBoard_Header {
    @include flex(center, center, row);
    h2 {
      font-family: $font-title;
      font-size: 5rem;
      color: white;
      padding: 1rem;
    }
  }

  #StoryBoard_AnimationScreen {
    @include flex(center, center, column);
    height: 60%;
    color: white;
  }

  #StoryBoard_LootBox {
    @include flex(center, center, column);
    height: 30%;
    width: 50%;
    border: 1px solid white;
    color: white;
  }

  #StoryBoard_Content {
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    height: 35vh;

    #player-text {
      @include flex(flex-star, center, row);
      width: 100%;
      #player-img {
        margin-left: -50px;
      }
    }

    #npc-text {
      @include flex(flex-end, center, row);
      width: 100%;

      #npc-img {
        margin-right: -50px;
      }
    }

    #player-img,
    #npc-img {
      margin-top: -150px;
      width: 250px;
      height: 250px;
      border: 3px solid lightblue;
      box-shadow: 0 0 10px lightblue;
      border-radius: 50%;
    }

    #StoryBoard_Dialog {
      @include flex(center, center, column);
      width: 100%;
      height: 100%;
      color: white;
      font-size: 1.5rem;
      font-family: $font-title;
      text-align: center;
      padding: 1rem;
    }
  }
}

.storyboard-start-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.exit-button {
  position: absolute;
  padding: 0.5rem;

  top: 5%;
  right: 2%;
}
