@import "../../styleSheets/_variables.scss";
@import "../../styleSheets/_mixins.scss";
@import "./Home.scss";

#heroOne {
  @include flex(center, center, column);
  height: 85vh;

  #heroOne-wrapper {
    width: 50%;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.75);
    box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
    border-radius: $border-radius-4;
    padding: $padding-6;

    h2 {
      font-family: "Lovers Quarrel", cursive;
      color: lightblue;
      font-size: 5rem;
      margin-bottom: 1rem;
    }

    p {
      margin-bottom: 2rem;
    }

    button {
      background-color: $custom-color-3;
      color: rgb(1, 0, 0);
      border: none;
      padding: 1rem 2rem;
      border-radius: $border-radius-4;
      cursor: pointer;
      box-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 0.7);
    }
  }
}
