@import "../../styleSheets/_variables.scss";
@import "../../styleSheets/_mixins.scss";
@import "./Home.scss";

// !---Home_HeroTwo.jsx---------------------------------------------------------------
#heroTwo {
  @include flex(center, center, row);
  @include radial-gradient-dark($start-color, $end-color);
  height: 100vh;

  #heroTwo-left,
  #heroTwo-right {
    @include flex(center, center, column);
    width: 100%;
    height: 70%;
    padding: 6rem;

    img {
      background-color: rgba($color: #000000, $alpha: 0.6);
      box-shadow: 0 0 10px rgba($color: #b17e06, $alpha: 0.7);
      border-radius: $border-radius-4;
      padding: 2px;
      margin-top: 2rem;
      width: 80%;
      height: auto;
    }

    h2 {
      font-family: $font-title;
      color: #b17e06;
      font-size: 5rem;
      margin-bottom: 2rem;
    }

    h1 {
      font-family: $font-title;
      color: #b17e06;
      font-size: 6rem;
      margin-bottom: 2rem;
    }

    p {
      line-height: 1.5;
    }
  }
}
